In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt  
import seaborn as sns

In [2]:
data_df = pd.read_csv(r"../data/rev-data.csv", index_col = 0)

In [3]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 676 entries, 0 to 675
Data columns (total 32 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  676 non-null    object
 1   product_category_name       676 non-null    object
 2   month_year                  676 non-null    object
 3   qty                         676 non-null    int64
 4   total_price                 676 non-null    float64
 5   freight_price               676 non-null    float64
 6   unit_price                  676 non-null    float64
 7   product_name_lenght         676 non-null    int64
 8   product_description_lenght  676 non-null    int64
 9   product_photos_qty          676 non-null    int64
 10  product_weight_g            676 non-null    int64
 11  product_score               676 non-null    float64
 12  customers                   676 non-null    int64
 13  weekday                     676 non-null    int64
 14  weekend                     676 non-null    int64
 15  holiday                     676 non-null    int64
 16  month                       676 non-null    int64
 17  year                        676 non-null    int64
 18  s                           676 non-null    float64
 19  volume                      676 non-null    int64
 20  comp_1                      676 non-null    float64
 21  ps1                         676 non-null    float64
 22  fp1                         676 non-null    float64
 23  comp_2                      676 non-null    float64
 24  ps2                         676 non-null    float64
 25  fp2                         676 non-null    float64
 26  comp_3                      676 non-null    float64
 27  ps3                         676 non-null    float64
 28  fp3                         676 non-null    float64
 29  lag_price                   676 non-null    float64
 30  revenue                     676 non-null    float64
 31  total_revenue               676 non-null    float64
dtypes: float64(17), int64(12), object(3)
memory usage: 174.3+ KB

In [4]:
data_df.head()

,product_id,product_category_name,month_year,qty,total_price,freight_price,unit_price,product_name_lenght,product_description_lenght,product_photos_qty,...,fp1,comp_2,ps2,fp2,comp_3,ps3,fp3,lag_price,revenue,total_revenue
0,bed1,bed_bath_table,2020-05-01,1,45.95,15.100000,45.95,39,161,2,...,15.011897,215.000000,4.4,8.760000,45.95,4.0,15.100000,45.90,45.95,61.050000
1,bed1,bed_bath_table,2020-06-01,3,137.85,12.933333,45.95,39,161,2,...,14.769216,209.000000,4.4,21.322000,45.95,4.0,12.933333,45.95,137.85,150.783333
2,bed1,bed_bath_table,2020-07-01,6,275.70,14.840000,45.95,39,161,2,...,13.993833,205.000000,4.4,22.195932,45.95,4.0,14.840000,45.95,275.70,290.540000
3,bed1,bed_bath_table,2020-08-01,4,183.80,14.287500,45.95,39,161,2,...,14.656757,199.509804,4.4,19.412885,45.95,4.0,14.287500,45.95,183.80,198.087500
4,bed1,bed_bath_table,2020-09-01,2,91.90,15.100000,45.95,39,161,2,...,18.776522,163.398710,4.4,24.324687,45.95,4.0,15.100000,45.95,91.90,107.000000

In [5]:
#since total price is accounted for in total Revenue and revenue and total price are the same, we drop those columns along with product name,
#description, photos.
data_df = data_df.drop(["total_price", "product_name_lenght", "product_description_lenght", "product_photos_qty", "revenue"], axis = 1)

In [6]:
data_df.head()

,product_id,product_category_name,month_year,qty,freight_price,unit_price,product_weight_g,product_score,customers,weekday,...,ps1,fp1,comp_2,ps2,fp2,comp_3,ps3,fp3,lag_price,total_revenue
0,bed1,bed_bath_table,2020-05-01,1,15.100000,45.95,350,4.0,57,23,...,3.9,15.011897,215.000000,4.4,8.760000,45.95,4.0,15.100000,45.90,61.050000
1,bed1,bed_bath_table,2020-06-01,3,12.933333,45.95,350,4.0,61,22,...,3.9,14.769216,209.000000,4.4,21.322000,45.95,4.0,12.933333,45.95,150.783333
2,bed1,bed_bath_table,2020-07-01,6,14.840000,45.95,350,4.0,123,21,...,3.9,13.993833,205.000000,4.4,22.195932,45.95,4.0,14.840000,45.95,290.540000
3,bed1,bed_bath_table,2020-08-01,4,14.287500,45.95,350,4.0,90,23,...,3.9,14.656757,199.509804,4.4,19.412885,45.95,4.0,14.287500,45.95,198.087500
4,bed1,bed_bath_table,2020-09-01,2,15.100000,45.95,350,4.0,54,21,...,3.9,18.776522,163.398710,4.4,24.324687,45.95,4.0,15.100000,45.95,107.000000

In [7]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 676 entries, 0 to 675
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   product_id             676 non-null    object
 1   product_category_name  676 non-null    object
 2   month_year             676 non-null    object
 3   qty                    676 non-null    int64
 4   freight_price          676 non-null    float64
 5   unit_price             676 non-null    float64
 6   product_weight_g       676 non-null    int64
 7   product_score          676 non-null    float64
 8   customers              676 non-null    int64
 9   weekday                676 non-null    int64
 10  weekend                676 non-null    int64
 11  holiday                676 non-null    int64
 12  month                  676 non-null    int64
 13  year                   676 non-null    int64
 14  s                      676 non-null    float64
 15  volume                 676 non-null    int64
 16  comp_1                 676 non-null    float64
 17  ps1                    676 non-null    float64
 18  fp1                    676 non-null    float64
 19  comp_2                 676 non-null    float64
 20  ps2                    676 non-null    float64
 21  fp2                    676 non-null    float64
 22  comp_3                 676 non-null    float64
 23  ps3                    676 non-null    float64
 24  fp3                    676 non-null    float64
 25  lag_price              676 non-null    float64
 26  total_revenue          676 non-null    float64
dtypes: float64(15), int64(9), object(3)
memory usage: 147.9+ KB

In [8]:
review = data_df[["month", "s", "volume"]]
review.head()

   month          s  volume
0      5  10.267394    3800
1      6   6.503115    3800
2      7  12.071651    3800
3      8   9.293873    3800
4      9   5.555556    3800

# MULTIVARIATE HIERARCHICAL FORECASTING

Feature Engineering

In [9]:
#In this data, the seasonality has already been accounted for. But since the estimators used derive this by themeselves, that column will be dropped
data_df = data_df.drop("s", axis= 1)

In [10]:
model_data = data_df[["product_id", "product_category_name", "month_year", "qty", "total_revenue"]]

In [11]:
model_data = model_data.groupby(["product_category_name", "product_id", "month_year"],as_index=False).agg( 
                        total_qty = pd.NamedAgg(column = "qty", aggfunc=sum), 
                        total_revenue = pd.NamedAgg(column = "total_revenue", aggfunc=sum))

In [12]:
model_data.head(15)

   product_category_name product_id  month_year  total_qty  total_revenue
0         bed_bath_table       bed1  2020-05-01          1      61.050000
1         bed_bath_table       bed1  2020-06-01          3     150.783333
2         bed_bath_table       bed1  2020-07-01          6     290.540000
3         bed_bath_table       bed1  2020-08-01          4     198.087500
4         bed_bath_table       bed1  2020-09-01          2     107.000000
5         bed_bath_table       bed1  2020-10-01          3     152.950000
6         bed_bath_table       bed1  2020-11-01         11     461.682727
7         bed_bath_table       bed1  2020-12-01          6     255.170000
8         bed_bath_table       bed1  2021-01-01         19     776.343684
9         bed_bath_table       bed1  2021-02-01         18     733.569444
10        bed_bath_table       bed1  2021-03-01         17     696.292353
11        bed_bath_table       bed1  2021-04-01         13     534.106154
12        bed_bath_table       bed1  2021-05-01         19     770.066316
13        bed_bath_table       bed1  2021-06-01          5     213.948000
14        bed_bath_table       bed1  2021-07-01          8     340.337500

In [13]:
#create category and product pairs
cat_prod_pairs = model_data[["product_category_name", "product_id"]].drop_duplicates()

In [14]:
date = pd.DataFrame(model_data.month_year.drop_duplicates())

In [15]:
date.head()

   month_year
0  2020-05-01
1  2020-06-01
2  2020-07-01
3  2020-08-01
4  2020-09-01

In [16]:
date["month_year"].min()

'2020-01-01'

In [17]:
categorization = cat_prod_pairs.merge(date, how='cross')

In [18]:
final_df = categorization.merge(model_data, on = ["product_category_name", "product_id", "month_year"], how = 'left')

In [19]:
final_df.head()

  product_category_name product_id  month_year  total_qty  total_revenue
0        bed_bath_table       bed1  2020-05-01        1.0      61.050000
1        bed_bath_table       bed1  2020-06-01        3.0     150.783333
2        bed_bath_table       bed1  2020-07-01        6.0     290.540000
3        bed_bath_table       bed1  2020-08-01        4.0     198.087500
4        bed_bath_table       bed1  2020-09-01        2.0     107.000000

In [20]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1040 entries, 0 to 1039
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   product_category_name  1040 non-null   object
 1   product_id             1040 non-null   object
 2   month_year             1040 non-null   object
 3   total_qty              676 non-null    float64
 4   total_revenue          676 non-null    float64
dtypes: float64(2), object(3)
memory usage: 48.8+ KB

In [21]:
final_df = final_df.fillna(0)

In [22]:
final_df["month_year"] = pd.to_datetime(final_df["month_year"], format = '%Y-%m')
final_df["month_year"] = final_df["month_year"].dt.to_period('M')

In [23]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1040 entries, 0 to 1039
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   product_category_name  1040 non-null   object
 1   product_id             1040 non-null   object
 2   month_year             1040 non-null   period[M]
 3   total_qty              1040 non-null   float64
 4   total_revenue          1040 non-null   float64
dtypes: float64(2), object(2), period[M](1)
memory usage: 48.8+ KB

In [24]:
final_df = final_df.groupby(["product_category_name", "product_id", "month_year"]).agg( 
                        total_qty = pd.NamedAgg(column = "total_qty", aggfunc=sum), 
                        total_revenue = pd.NamedAgg(column = "total_revenue", aggfunc=sum))

In [25]:
final_df.head(10)

                                             total_qty  total_revenue
product_category_name product_id month_year
bed_bath_table        bed1       2020-01           0.0       0.000000
                                 2020-02           0.0       0.000000
                                 2020-03           0.0       0.000000
                                 2020-04           0.0       0.000000
                                 2020-05           1.0      61.050000
                                 2020-06           3.0     150.783333
                                 2020-07           6.0     290.540000
                                 2020-08           4.0     198.087500
                                 2020-09           2.0     107.000000
                                 2020-10           3.0     152.950000

In [26]:
final_df.tail()

                                             total_qty  total_revenue
product_category_name product_id month_year
watches_gifts         watches8   2021-04          26.0    3926.401923
                                 2021-05          30.0    4371.259001
                                 2021-06           3.0     477.070000
                                 2021-07          14.0    2216.657142
                                 2021-08          11.0    1751.992727

MULTIVARIATE HIERARCHICAL FORECASTING

In [27]:
import sktime
from sktime.forecasting.compose import EnsembleForecaster
from sktime.forecasting.naive import NaiveForecaster
from sktime.forecasting.trend import PolynomialTrendForecaster
from sktime.forecasting.compose import ColumnEnsembleForecaster
from sktime.forecasting.base import ForecastingHorizon

from sktime.performance_metrics.forecasting import mean_absolute_percentage_error

In [28]:
train = final_df[final_df.index.get_level_values('month_year') <= "2021-02"]
validation = final_df[final_df.index.get_level_values('month_year') > "2021-02"]

In [29]:
train.tail()

                                             total_qty  total_revenue
product_category_name product_id month_year
watches_gifts         watches8   2020-10           2.0     491.020000
                                 2020-11           0.0       0.000000
                                 2020-12           0.0       0.000000
                                 2021-01           2.0     476.160000
                                 2021-02          11.0    2267.825454

In [30]:
validation.head()

                                             total_qty  total_revenue
product_category_name product_id month_year
bed_bath_table        bed1       2021-03          17.0     696.292353
                                 2021-04          13.0     534.106154
                                 2021-05          19.0     770.066316
                                 2021-06           5.0     213.948000
                                 2021-07           8.0     340.337500

In [38]:
# building first model with column ensemble forecaster
forecasters = [("trend", PolynomialTrendForecaster(),0), 
               ("naive",  NaiveForecaster(), 1)]

forecaster = ColumnEnsembleForecaster(forecasters = forecasters)
fh = ForecastingHorizon(
    pd.PeriodIndex(pd.date_range("2021-03", periods= 6, freq="M")), is_relative=False
)

In [39]:
model = forecaster.fit(y=train, fh = fh)

In [40]:
train.head()

                                             total_qty  total_revenue
product_category_name product_id month_year
bed_bath_table        bed1       2020-01           0.0           0.00
                                 2020-02           0.0           0.00
                                 2020-03           0.0           0.00
                                 2020-04           0.0           0.00
                                 2020-05           1.0          61.05

In [41]:
fh

ForecastingHorizon(['2021-03', '2021-04', '2021-05', '2021-06', '2021-07', '2021-08'], dtype='period[M]', is_relative=False)

In [42]:
predicted = model.predict()

In [43]:
predicted

                                             total_qty  total_revenue
product_category_name product_id month_year
bed_bath_table        bed1       2021-03     14.758242     733.569444
                                 2021-04     16.030769     733.569444
                                 2021-05     17.303297     733.569444
                                 2021-06     18.575824     733.569444
                                 2021-07     19.848352     733.569444
...                                                ...            ...
watches_gifts         watches8   2021-04      4.446154    2267.825454
                                 2021-05      4.826374    2267.825454
                                 2021-06      5.206593    2267.825454
                                 2021-07      5.586813    2267.825454
                                 2021-08      5.967033    2267.825454

[312 rows x 2 columns]

In [44]:
validation.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 312 entries, ('bed_bath_table', 'bed1', Period('2021-03', 'M')) to ('watches_gifts', 'watches8', Period('2021-08', 'M'))
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   total_qty      312 non-null    float64
 1   total_revenue  312 non-null    float64
dtypes: float64(2)
memory usage: 6.6+ KB

In [45]:
# model evaluation
from sklearn.metrics import r2_score

score = r2_score(validation, predicted)

In [46]:
score

-0.8398550416412105

In [49]:
# ensemble forecaster
forecasters = [
    ("trend", PolynomialTrendForecaster()),
    ("naive", NaiveForecaster()),
]
ensemble_model = EnsembleForecaster(forecasters = forecasters, weights=[4, 10])

In [51]:
model2 = ensemble_model.fit(y=train, fh = fh)

In [52]:
prediction2 = model2.predict()

In [53]:
score2 = r2_score(validation, prediction2)

In [54]:
score2

-0.42044603806345293

Replacing zeros in train data with 1 to see the outcome

In [55]:
train = train.replace(0, 1.0)

In [56]:
model3 = ensemble_model.fit(y=train, fh = fh)

In [57]:
prediction3 = model3.predict()

In [58]:
score3 = r2_score(validation, prediction3)
score3

-0.41466429131925586

In [59]:
from sktime.forecasting.compose._multiplexer import MultiplexForecaster

In [60]:
multiplex_model = MultiplexForecaster(forecasters)

In [61]:
model4 = multiplex_model.fit(y = train, fh = fh)

In [62]:
prediction4 = model4.predict()

In [63]:
score4 = r2_score(validation, prediction4)
score4

-0.9361945182319417

In [64]:
#changing model scorer to mape
mape_one = mean_absolute_percentage_error(validation, predicted)
mape_one

3.191995850117951e+17

In [65]:
mape_two = mean_absolute_percentage_error(validation, prediction2)
mape_two

4.38098420004925e+17

In [66]:
mape_three = mean_absolute_percentage_error(validation, prediction3)
mape_three

4.380886262211684e+17

In [68]:
mape_four = mean_absolute_percentage_error(validation, prediction4)
mape_four

7.469306918318136e+17

:

FORECASTING WITH EXOGENOUS DATA