In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt  
import seaborn as sns

In [2]:
url = "https://raw.githubusercontent.com/ladyjossy77/ecommerce-data-analysis/master/data/clean-data.csv"
data = pd.read_csv(url, index_col = 0)

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15300 entries, 0 to 15299
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   CustomerGender       15300 non-null  object
 1   ProductName          15300 non-null  object
 2   ProductPrice         15300 non-null  float64
 3   CostOfGood           15300 non-null  float64
 4   ProductCategory      15300 non-null  object
 5   CustomerCountry      15300 non-null  object
 6   CustomerContinent    15300 non-null  object
 7   OrderTime            15300 non-null  object
 8   OrderDay             15300 non-null  int64
 9   OrderMonth           15300 non-null  object
 10  QuantitySold         15300 non-null  int64
 11  discountPerQuantity  15300 non-null  float64
 12  salePrice            15300 non-null  float64
 13  OrderYear            15300 non-null  int64
 14  ExpectedRevenue      15300 non-null  float64
 15  PricePerQuantity     15300 non-null  float64
 16  DiscountPercentage   15300 non-null  float64
 17  dateOfPurchase       15300 non-null  object
dtypes: float64(7), int64(3), object(8)
memory usage: 2.2+ MB

In [4]:
data["OrderYear"].unique()

array([2017, 2020, 2019, 2018, 2016], dtype=int64)

In [5]:
data.head()

,CustomerGender,ProductName,ProductPrice,CostOfGood,ProductCategory,CustomerCountry,CustomerContinent,OrderTime,OrderDay,OrderMonth,QuantitySold,discountPerQuantity,salePrice,OrderYear,ExpectedRevenue,PricePerQuantity,DiscountPercentage,dateOfPurchase
0,Female,Hat,713.0,249.55,Movies,Seychelles,Africa,13:43:00,1,February,3,0.09,1946.49,2017,463.45,648.83,0.01,1 February 2017
1,Female,Cheese,60.0,47.40,Health,Qatar,Asia,12:25:00,11,February,5,0.02,294.00,2020,12.60,58.80,0.03,11 February 2020
2,Male,Chips,310.0,145.70,Sports,Cameroon,Africa,20:14:00,25,September,2,0.03,601.40,2020,164.30,300.70,0.01,25 September 2020
3,Female,Chair,468.0,149.76,Beauty,Guadeloupe,North America,13:13:00,30,June,1,0.10,421.20,2020,318.24,421.20,0.02,30 June 2020
4,Male,Chicken,360.0,140.40,Health,Swaziland,Africa,22:50:00,28,September,6,0.08,1987.20,2020,219.60,331.20,0.02,28 September 2020

In [6]:
error_dates = data[(data["OrderDay"] == 30) & (data["OrderMonth"] == "February")]

In [7]:
error_dates.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36 entries, 10 to 14314
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   CustomerGender       36 non-null     object
 1   ProductName          36 non-null     object
 2   ProductPrice         36 non-null     float64
 3   CostOfGood           36 non-null     float64
 4   ProductCategory      36 non-null     object
 5   CustomerCountry      36 non-null     object
 6   CustomerContinent    36 non-null     object
 7   OrderTime            36 non-null     object
 8   OrderDay             36 non-null     int64
 9   OrderMonth           36 non-null     object
 10  QuantitySold         36 non-null     int64
 11  discountPerQuantity  36 non-null     float64
 12  salePrice            36 non-null     float64
 13  OrderYear            36 non-null     int64
 14  ExpectedRevenue      36 non-null     float64
 15  PricePerQuantity     36 non-null     float64
 16  DiscountPercentage   36 non-null     float64
 17  dateOfPurchase       36 non-null     object
dtypes: float64(7), int64(3), object(8)
memory usage: 5.3+ KB

In [8]:
36/15300

0.002352941176470588

In [9]:
data = data.drop(data[(data["OrderDay"] == 30) & (data["OrderMonth"] == "February")].index)
non_leap = [2017, 2018, 2019]
data = data.drop(data[(data["OrderDay"] == 29) & (data["OrderMonth"] == "February") & (data["OrderYear"].isin(non_leap))].index)

In [10]:
data["dateOfPurchase"] = pd.to_datetime(data["dateOfPurchase"])
data["dateOfPurchase"] = data["dateOfPurchase"].dt.to_period('M')

In [11]:
data.head()

,CustomerGender,ProductName,ProductPrice,CostOfGood,ProductCategory,CustomerCountry,CustomerContinent,OrderTime,OrderDay,OrderMonth,QuantitySold,discountPerQuantity,salePrice,OrderYear,ExpectedRevenue,PricePerQuantity,DiscountPercentage,dateOfPurchase
0,Female,Hat,713.0,249.55,Movies,Seychelles,Africa,13:43:00,1,February,3,0.09,1946.49,2017,463.45,648.83,0.01,2017-02
1,Female,Cheese,60.0,47.40,Health,Qatar,Asia,12:25:00,11,February,5,0.02,294.00,2020,12.60,58.80,0.03,2020-02
2,Male,Chips,310.0,145.70,Sports,Cameroon,Africa,20:14:00,25,September,2,0.03,601.40,2020,164.30,300.70,0.01,2020-09
3,Female,Chair,468.0,149.76,Beauty,Guadeloupe,North America,13:13:00,30,June,1,0.10,421.20,2020,318.24,421.20,0.02,2020-06
4,Male,Chicken,360.0,140.40,Health,Swaziland,Africa,22:50:00,28,September,6,0.08,1987.20,2020,219.60,331.20,0.02,2020-09

In [12]:
#selecting columns of interest
model_data = data[["CustomerContinent", "ProductCategory", "ProductName", "dateOfPurchase", "QuantitySold", "ProductPrice", "CostOfGood", "discountPerQuantity"]]

In [13]:
model_data["Revenue"] = model_data["ProductPrice"] * model_data["QuantitySold"] * (1-model_data["discountPerQuantity"])

C:\Users\HP\AppData\Local\Temp\ipykernel_19232\310536122.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  model_data["Revenue"] = model_data["ProductPrice"] * model_data["QuantitySold"] * (1-model_data["discountPerQuantity"])

In [14]:
model_data.head()

,CustomerContinent,ProductCategory,ProductName,dateOfPurchase,QuantitySold,ProductPrice,CostOfGood,discountPerQuantity,Revenue
0,Africa,Movies,Hat,2017-02,3,713.0,249.55,0.09,1946.49
1,Asia,Health,Cheese,2020-02,5,60.0,47.40,0.02,294.00
2,Africa,Sports,Chips,2020-09,2,310.0,145.70,0.03,601.40
3,North America,Beauty,Chair,2020-06,1,468.0,149.76,0.10,421.20
4,Africa,Health,Chicken,2020-09,6,360.0,140.40,0.08,1987.20

FEATURE ENGINEERING

In [15]:
model_data["dateOfPurchase"].max()

Period('2020-12', 'M')

In [16]:
model_data = model_data.groupby(["CustomerContinent", "ProductCategory", "dateOfPurchase"], as_index = False).agg(
                                TotalQuantity = pd.NamedAgg(column = "QuantitySold", aggfunc=sum),
                                TotalRevenue = pd.NamedAgg(column = "Revenue", aggfunc = sum),
                                AvgPrice = pd.NamedAgg(column = "ProductPrice", aggfunc = np.mean),
                                MedPrice = pd.NamedAgg(column="ProductPrice", aggfunc = np.median),
                                AvgCost = pd.NamedAgg(column = "CostOfGood", aggfunc = np.mean),
                                AvgDiscount = pd.NamedAgg(column = "discountPerQuantity", aggfunc = np.mean)
)

In [17]:
model_data.head()

,CustomerContinent,ProductCategory,dateOfPurchase,TotalQuantity,TotalRevenue,AvgPrice,MedPrice,AvgCost,AvgDiscount
0,Africa,Automotive,2016-01,1,961.27,991.00,991.0,307.2100,0.0300
1,Africa,Automotive,2016-02,22,6736.86,323.00,269.0,195.5600,0.0500
2,Africa,Automotive,2016-03,10,6633.20,721.00,721.0,591.2200,0.0800
3,Africa,Automotive,2016-04,23,10619.63,507.75,504.5,258.9825,0.0575
4,Africa,Automotive,2016-05,18,8175.08,479.25,437.5,238.2550,0.0650

In [18]:
model_data.tail()

,CustomerContinent,ProductCategory,dateOfPurchase,TotalQuantity,TotalRevenue,AvgPrice,MedPrice,AvgCost,AvgDiscount
6606,South America,Toys,2019-11,7,233.10,37.000000,37.0,7.77,0.10
6607,South America,Toys,2019-12,4,2227.20,580.000000,580.0,429.20,0.04
6608,South America,Toys,2020-02,4,2590.64,689.000000,689.0,351.39,0.06
6609,South America,Toys,2020-07,19,12641.16,581.333333,430.0,170.88,0.05
6610,South America,Toys,2020-08,4,190.12,49.000000,49.0,34.30,0.03

In [19]:
model_data.to_csv("../data/clean_data.csv")

In [20]:
forecast_data = model_data[["CustomerContinent", "ProductCategory", "dateOfPurchase", "TotalQuantity", "TotalRevenue"]]

In [21]:
cat_combination = forecast_data[["CustomerContinent", "ProductCategory"]].drop_duplicates()

In [22]:
time = forecast_data[["dateOfPurchase"]].drop_duplicates()

In [23]:
time["dateOfPurchase"].nunique()

60

In [24]:
indexes = cat_combination.merge(time, how='cross')

In [25]:
indexes.head()

  CustomerContinent ProductCategory dateOfPurchase
0            Africa      Automotive        2016-01
1            Africa      Automotive        2016-02
2            Africa      Automotive        2016-03
3            Africa      Automotive        2016-04
4            Africa      Automotive        2016-05

In [26]:
new_df = indexes.merge(forecast_data, on = ["CustomerContinent", "ProductCategory", "dateOfPurchase"], how = 'left')

In [27]:
new_df.head()

,CustomerContinent,ProductCategory,dateOfPurchase,TotalQuantity,TotalRevenue
0,Africa,Automotive,2016-01,1.0,961.27
1,Africa,Automotive,2016-02,22.0,6736.86
2,Africa,Automotive,2016-03,10.0,6633.20
3,Africa,Automotive,2016-04,23.0,10619.63
4,Africa,Automotive,2016-05,18.0,8175.08

In [28]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9240 entries, 0 to 9239
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CustomerContinent  9240 non-null   object
 1   ProductCategory    9240 non-null   object
 2   dateOfPurchase     9240 non-null   period[M]
 3   TotalQuantity      6611 non-null   float64
 4   TotalRevenue       6611 non-null   float64
dtypes: float64(2), object(2), period[M](1)
memory usage: 433.1+ KB

In [29]:
new_df.to_csv("../data/forecast.csv")

MULTIVARIATE HIERARCHICAL FORECASTING

Model Selection

In [30]:
import sktime

from sktime.registry import all_estimators

In [31]:
hier_forecasters = all_estimators(
    "forecaster", as_dataframe=True, return_tags=["scitype:y", "y_inner_mtype", "ignores-exogeneous-X"]
)

c:\Users\HP\Downloads\mybooks\project\hierarchical-forecasting\.venv\lib\site-packages\sktime\utils\validation\_dependencies.py:143: UserWarning: str requires package 'dtw-python' to be present in the python environment, but 'dtw-python' was not found. 'dtw-python' is a soft dependency and not included in the base sktime installation. Please run: `pip install dtw-python` to install the dtw-python package. To install all soft dependencies, run: `pip install sktime[all_extras]`
  warnings.warn(msg)
c:\Users\HP\Downloads\mybooks\project\hierarchical-forecasting\.venv\lib\site-packages\sktime\utils\validation\_dependencies.py:143: UserWarning: No module named 'pyod'. 'pyod' is a soft dependency and not included in the base sktime installation. Please run: `pip install pyod` to install the pyod package. To install all soft dependencies, run: `pip install sktime[all_extras]`
  warnings.warn(msg)
c:\Users\HP\Downloads\mybooks\project\hierarchical-forecasting\.venv\lib\site-packages\sktime\utils\validation\_dependencies.py:143: UserWarning: No module named 'hmmlearn'. 'hmmlearn.hmm' is a soft dependency and not included in the base sktime installation. Please run: `pip install hmmlearn.hmm` to install the hmmlearn.hmm package. To install all soft dependencies, run: `pip install sktime[all_extras]`
  warnings.warn(msg)
c:\Users\HP\Downloads\mybooks\project\hierarchical-forecasting\.venv\lib\site-packages\sktime\utils\validation\_dependencies.py:226: UserWarning: tensorflow and tensorflow-probability are required for deep learning and probabilistic functionality in `sktime`. To install these dependencies, run: `pip install sktime[dl]`
  warnings.warn(msg)
c:\Users\HP\Downloads\mybooks\project\hierarchical-forecasting\.venv\lib\site-packages\sktime\utils\validation\_dependencies.py:143: UserWarning: No module named 'keras_self_attention'. 'keras-self-attention' is a soft dependency and not included in the base sktime installation. Please run: `pip install keras-self-attention` to install the keras-self-attention package. To install all soft dependencies, run: `pip install sktime[all_extras]`
  warnings.warn(msg)
c:\Users\HP\Downloads\mybooks\project\hierarchical-forecasting\.venv\lib\site-packages\sktime\utils\validation\_dependencies.py:143: UserWarning: No module named 'tsfresh'. 'tsfresh' is a soft dependency and not included in the base sktime installation. Please run: `pip install tsfresh` to install the tsfresh package. To install all soft dependencies, run: `pip install sktime[all_extras]`
  warnings.warn(msg)
c:\Users\HP\Downloads\mybooks\project\hierarchical-forecasting\.venv\lib\site-packages\sktime\utils\validation\_dependencies.py:143: UserWarning: No module named 'esig'. 'esig' is a soft dependency and not included in the base sktime installation. Please run: `pip install esig` to install the esig package. To install all soft dependencies, run: `pip install sktime[all_extras]`
  warnings.warn(msg)
c:\Users\HP\Downloads\mybooks\project\hierarchical-forecasting\.venv\lib\site-packages\sktime\utils\validation\_dependencies.py:143: UserWarning: No module named 'tslearn'. 'tslearn' is a soft dependency and not included in the base sktime installation. Please run: `pip install tslearn` to install the tslearn package. To install all soft dependencies, run: `pip install sktime[all_extras]`
  warnings.warn(msg)
c:\Users\HP\Downloads\mybooks\project\hierarchical-forecasting\.venv\lib\site-packages\sktime\utils\validation\_dependencies.py:143: UserWarning: No module named 'hcrystalball'. 'hcrystalball' is a soft dependency and not included in the base sktime installation. Please run: `pip install hcrystalball` to install the hcrystalball package. To install all soft dependencies, run: `pip install sktime[all_extras]`
  warnings.warn(msg)
c:\Users\HP\Downloads\mybooks\project\hierarchical-forecasting\.venv\lib\site-packages\sktime\utils\validation\_dependencies.py:143: UserWarning: No module named 'pmdarima'. 'pmdarima' is a soft dependency and not included in the base sktime installation. Please run: `pip install pmdarima` to install the pmdarima package. To install all soft dependencies, run: `pip install sktime[all_extras]`
  warnings.warn(msg)
c:\Users\HP\Downloads\mybooks\project\hierarchical-forecasting\.venv\lib\site-packages\sktime\utils\validation\_dependencies.py:143: UserWarning: No module named 'tbats'. 'tbats' is a soft dependency and not included in the base sktime installation. Please run: `pip install tbats` to install the tbats package. To install all soft dependencies, run: `pip install sktime[all_extras]`
  warnings.warn(msg)
c:\Users\HP\Downloads\mybooks\project\hierarchical-forecasting\.venv\lib\site-packages\sktime\utils\validation\_dependencies.py:143: UserWarning: No module named 'prophet'. 'prophet' is a soft dependency and not included in the base sktime installation. Please run: `pip install prophet` to install the prophet package. To install all soft dependencies, run: `pip install sktime[all_extras]`
  warnings.warn(msg)
c:\Users\HP\Downloads\mybooks\project\hierarchical-forecasting\.venv\lib\site-packages\sktime\utils\validation\_dependencies.py:143: UserWarning: No module named 'statsforecast'. 'statsforecast' is a soft dependency and not included in the base sktime installation. Please run: `pip install statsforecast` to install the statsforecast package. To install all soft dependencies, run: `pip install sktime[all_extras]`
  warnings.warn(msg)
c:\Users\HP\Downloads\mybooks\project\hierarchical-forecasting\.venv\lib\site-packages\sktime\utils\validation\_dependencies.py:143: UserWarning: No module named 'pycatch22'. 'pycatch22' is a soft dependency and not included in the base sktime installation. Please run: `pip install pycatch22` to install the pycatch22 package. To install all soft dependencies, run: `pip install sktime[all_extras]`
  warnings.warn(msg)
c:\Users\HP\Downloads\mybooks\project\hierarchical-forecasting\.venv\lib\site-packages\sktime\utils\validation\_dependencies.py:143: UserWarning: No module named 'mne'. 'mne' is a soft dependency and not included in the base sktime installation. Please run: `pip install mne` to install the mne package. To install all soft dependencies, run: `pip install sktime[all_extras]`
  warnings.warn(msg)
c:\Users\HP\Downloads\mybooks\project\hierarchical-forecasting\.venv\lib\site-packages\sktime\utils\validation\_dependencies.py:143: UserWarning: No module named 'pykalman'. 'pykalman' is a soft dependency and not included in the base sktime installation. Please run: `pip install pykalman` to install the pykalman package. To install all soft dependencies, run: `pip install sktime[all_extras]`
  warnings.warn(msg)
c:\Users\HP\Downloads\mybooks\project\hierarchical-forecasting\.venv\lib\site-packages\sktime\utils\validation\_dependencies.py:143: UserWarning: No module named 'filterpy'. 'filterpy' is a soft dependency and not included in the base sktime installation. Please run: `pip install filterpy` to install the filterpy package. To install all soft dependencies, run: `pip install sktime[all_extras]`
  warnings.warn(msg)
c:\Users\HP\Downloads\mybooks\project\hierarchical-forecasting\.venv\lib\site-packages\sktime\utils\validation\_dependencies.py:143: UserWarning: No module named 'stumpy'. 'stumpy' is a soft dependency and not included in the base sktime installation. Please run: `pip install stumpy` to install the stumpy package. To install all soft dependencies, run: `pip install sktime[all_extras]`
  warnings.warn(msg)

In [32]:
hier_forecasters = hier_forecasters[(hier_forecasters["y_inner_mtype"] != "pd.Series") & 
                                    (hier_forecasters["y_inner_mtype"] != "pd.DataFrame")]

In [33]:
hier_forecasters.head()

,name,estimator,scitype:y,y_inner_mtype,ignores-exogeneous-X
7,ColumnEnsembleForecaster,<class 'sktime.forecasting.compose._column_ens...,both,"[pd.DataFrame, pd-multiindex, pd_multiindex_hier]",False
14,DontUpdate,<class 'sktime.forecasting.stream._update.Dont...,univariate,"[numpy3D, dask_series, np.ndarray, pd_multiind...",False
16,EnsembleForecaster,<class 'sktime.forecasting.compose._ensemble.E...,both,"[pd.DataFrame, pd-multiindex, pd_multiindex_hier]",False
18,ForecastByLevel,<class 'sktime.forecasting.compose._grouped.Fo...,both,"[numpy3D, dask_series, np.ndarray, pd_multiind...",False
19,ForecastX,<class 'sktime.forecasting.compose._pipeline.F...,univariate,"[pd.DataFrame, pd-multiindex, pd_multiindex_hier]",False

In [34]:
unwanted = []
for i in hier_forecasters["y_inner_mtype"]:
    if "pd_multiindex_hier" not in i:
        unwanted.append(i)

In [35]:
unwanted

[['pd.Series'], ['pd.DataFrame', 'pd.Series']]

In [36]:
hierarchical = hier_forecasters[(hier_forecasters["scitype:y"] != "univariate") & (~hier_forecasters["y_inner_mtype"].isin(unwanted))]

In [37]:
hierarchical

,name,estimator,scitype:y,y_inner_mtype,ignores-exogeneous-X
7,ColumnEnsembleForecaster,<class 'sktime.forecasting.compose._column_ens...,both,"[pd.DataFrame, pd-multiindex, pd_multiindex_hier]",False
16,EnsembleForecaster,<class 'sktime.forecasting.compose._ensemble.E...,both,"[pd.DataFrame, pd-multiindex, pd_multiindex_hier]",False
18,ForecastByLevel,<class 'sktime.forecasting.compose._grouped.Fo...,both,"[numpy3D, dask_series, np.ndarray, pd_multiind...",False
21,ForecastingPipeline,<class 'sktime.forecasting.compose._pipeline.F...,both,"[pd.DataFrame, pd-multiindex, pd_multiindex_hier]",False
24,HierarchyEnsembleForecaster,<class 'sktime.forecasting.compose._hierarchy_...,both,"[pd.DataFrame, pd-multiindex, pd_multiindex_hier]",False
27,MultiplexForecaster,<class 'sktime.forecasting.compose._multiplexe...,both,"[numpy3D, dask_series, np.ndarray, pd_multiind...",False
31,Permute,<class 'sktime.forecasting.compose._pipeline.P...,both,"[numpy3D, dask_series, np.ndarray, pd_multiind...",False
46,TransformedTargetForecaster,<class 'sktime.forecasting.compose._pipeline.T...,both,"[pd.DataFrame, pd-multiindex, pd_multiindex_hier]",False

the above estimators accept hierarchical, multivariate and exogenous data

Column Ensemble Forecaster

In [38]:
from sktime.forecasting.compose import ColumnEnsembleForecaster
from sktime.forecasting.trend import PolynomialTrendForecaster
from sktime.forecasting.naive import NaiveForecaster

In [39]:
forecasters = [("trend", PolynomialTrendForecaster(), 0),("naive", NaiveForecaster(), 1)]
model_one = ColumnEnsembleForecaster(forecasters= forecasters)

In [40]:
model_df = new_df.groupby(["CustomerContinent", "ProductCategory", "dateOfPurchase"]).agg(
                                TotalQuantity = pd.NamedAgg(column = "TotalQuantity", aggfunc=sum),
                                TotalRevenue = pd.NamedAgg(column = "TotalRevenue", aggfunc = sum)
)

In [41]:
model_df.tail()

                                                  TotalQuantity  TotalRevenue
CustomerContinent ProductCategory dateOfPurchase
South America     Toys            2020-08                   4.0        190.12
                                  2020-09                   0.0          0.00
                                  2020-10                   0.0          0.00
                                  2020-11                   0.0          0.00
                                  2020-12                   0.0          0.00

In [42]:
y_train = model_df[model_df.index.get_level_values('dateOfPurchase')<"2019-01"]
y_validate = model_df[model_df.index.get_level_values('dateOfPurchase')>="2019-01"]

In [43]:
from sktime.forecasting.base import ForecastingHorizon
fh = ForecastingHorizon(
    pd.PeriodIndex(pd.date_range("2019-01", periods= 24, freq="M")), is_relative=False
)

In [44]:
fh

ForecastingHorizon(['2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06',
             '2019-07', '2019-08', '2019-09', '2019-10', '2019-11', '2019-12',
             '2020-01', '2020-02', '2020-03', '2020-04', '2020-05', '2020-06',
             '2020-07', '2020-08', '2020-09', '2020-10', '2020-11', '2020-12'],
            dtype='period[M]', is_relative=False)

In [45]:
y_train.head()

                                                  TotalQuantity  TotalRevenue
CustomerContinent ProductCategory dateOfPurchase
Africa            Automotive      2016-01                   1.0        961.27
                                  2016-02                  22.0       6736.86
                                  2016-03                  10.0       6633.20
                                  2016-04                  23.0      10619.63
                                  2016-05                  18.0       8175.08

In [46]:
model_one = model_one.fit(y= y_train, fh = fh)

In [47]:
predict_one = model_one.predict(fh)

In [48]:
from sklearn.metrics import r2_score

In [49]:
y_train.head()

                                                  TotalQuantity  TotalRevenue
CustomerContinent ProductCategory dateOfPurchase
Africa            Automotive      2016-01                   1.0        961.27
                                  2016-02                  22.0       6736.86
                                  2016-03                  10.0       6633.20
                                  2016-04                  23.0      10619.63
                                  2016-05                  18.0       8175.08

In [50]:
y_validate.info

<bound method DataFrame.info of                                                   TotalQuantity  TotalRevenue
CustomerContinent ProductCategory dateOfPurchase
Africa            Automotive      2019-01                   3.0       2262.69
                                  2019-02                  11.0       7667.67
                                  2019-03                  49.0      26881.05
                                  2019-04                  20.0      15699.49
                                  2019-05                  19.0      10007.80
...                                                         ...           ...
South America     Toys            2020-08                   4.0        190.12
                                  2020-09                   0.0          0.00
                                  2020-10                   0.0          0.00
                                  2020-11                   0.0          0.00
                                  2020-12                   0.0          0.00

[3696 rows x 2 columns]>

In [51]:
score_one = r2_score(y_validate, predict_one)

In [52]:
score_one

-0.12546910133609557

In [53]:
from sktime.forecasting.compose._ensemble import EnsembleForecaster

In [54]:
forecasters = [("trend", PolynomialTrendForecaster()),("naive", NaiveForecaster())]
model_two = EnsembleForecaster(forecasters= forecasters, weights= [4, 10])

In [55]:
model_two = model_two.fit(y = y_train, fh =fh)

In [56]:
predict_two = model_two.predict()

In [57]:
score_two = r2_score(y_validate, predict_two)

In [58]:
score_two

-0.11239237731372087

In [59]:
forecasters = [("trend", PolynomialTrendForecaster()),("naive", NaiveForecaster())]
model_three = EnsembleForecaster(forecasters= forecasters, weights= [8, 14])

In [60]:
model_three = model_three.fit(y = y_train, fh =fh)
predict_three = model_three.predict()
score_three = r2_score(y_validate, predict_three)
score_three

-0.05900794930854758

In [61]:
forecasters = [("trend", PolynomialTrendForecaster()),("naive", NaiveForecaster())]
model_four = EnsembleForecaster(forecasters= forecasters, weights= [20, 30])
model_four = model_four.fit(y = y_train, fh =fh)
predict_four = model_four.predict()
score_four = r2_score(y_validate, predict_four)
score_four

-0.036705463326935805

In [62]:
forecasters = [("trend", PolynomialTrendForecaster()),("naive", NaiveForecaster())]
model_five = EnsembleForecaster(forecasters= forecasters, weights= [300, 80])
model_five = model_five.fit(y = y_train, fh =fh)
predict_five = model_five.predict()
score_five = r2_score(y_validate, predict_five)
score_five

0.0979955298576024

In [63]:
#standardizing data
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
# quantity_scaler = scaler.fit(y_train["TotalQuantity"])
# revenue_scaler = scaler.fit(y_train["TotalRevenue"])
# y_train["TotalQuantity"] = quantity_scaler.transform(y_train["TotalQuantity"].to_numpy().reshape(-1, 1))
# y_train["TotalRevenue"] = quantity_scaler.fit_transform(y_train["TotalRevenue"].to_numpy().reshape(-1, 1))

In [64]:
y_train.values

array([[1.000000e+00, 9.612700e+02],
       [2.200000e+01, 6.736860e+03],
       [1.000000e+01, 6.633200e+03],
       ...,
       [3.000000e+00, 2.637180e+03],
       [2.400000e+01, 1.440849e+04],
       [8.000000e+00, 4.761600e+03]])

In [65]:
index = y_train.index
columns = y_train.columns

In [66]:
scaled_values = scaler.fit_transform(y_train.values)

In [67]:
scaled_values

array([[-0.87405298, -0.68006979],
       [ 1.40614653,  0.50069846],
       [ 0.10317539,  0.47950609],
       ...,
       [-0.65689112, -0.33744483],
       [ 1.62330839,  2.06909531],
       [-0.11398647,  0.09687404]])

In [68]:
scaled_y = pd.DataFrame(scaled_values, columns = columns, index = index)

In [69]:
scaled_y.head()

                                                  TotalQuantity  TotalRevenue
CustomerContinent ProductCategory dateOfPurchase
Africa            Automotive      2016-01             -0.874053     -0.680070
                                  2016-02              1.406147      0.500698
                                  2016-03              0.103175      0.479506
                                  2016-04              1.514727      1.294496
                                  2016-05              0.971823      0.794730

In [70]:
# scaler.inverse_transform(y_train)

In [71]:
forecasters = [("trend", PolynomialTrendForecaster()),("naive", NaiveForecaster())]
model_six = EnsembleForecaster(forecasters= forecasters, weights= [4,10])
model_six = model_six.fit(y = scaled_y, fh =fh)
predict_six = model_six.predict()
# predicted = scaler.inverse_transform(predict_six)
# score_six = r2_score(y_validate, predicted)
# score_six

In [72]:
predict_six.head()

                                                  TotalQuantity  TotalRevenue
CustomerContinent ProductCategory dateOfPurchase
Africa            Automotive      2019-01             -0.042190      0.296996
                                  2019-02             -0.042781      0.301099
                                  2019-03             -0.043372      0.305201
                                  2019-04             -0.043963      0.309304
                                  2019-05             -0.044554      0.313407

In [73]:
predicted_index = predict_six.index
predicted_columns = predict_six.columns

inversed_prediction = scaler.inverse_transform(predict_six)
inversed_prediction

array([[   8.66122449, 5740.47188662],
       [   8.65578231, 5760.54025544],
       [   8.65034014, 5780.60862426],
       ...,
       [   7.30678434, 4494.12079328],
       [   7.31575657, 4505.60902715],
       [   7.32472881, 4517.09726102]])

In [74]:
predicted_data = pd.DataFrame(inversed_prediction, index = predicted_index, columns = predicted_columns)
predicted_data.head()

                                                  TotalQuantity  TotalRevenue
CustomerContinent ProductCategory dateOfPurchase
Africa            Automotive      2019-01              8.661224   5740.471887
                                  2019-02              8.655782   5760.540255
                                  2019-03              8.650340   5780.608624
                                  2019-04              8.644898   5800.676993
                                  2019-05              8.639456   5820.745362

In [75]:
score_six = r2_score(y_validate, predicted_data)
score_six

-0.11239237731372087

In [76]:
y_validate.head()

                                                  TotalQuantity  TotalRevenue
CustomerContinent ProductCategory dateOfPurchase
Africa            Automotive      2019-01                   3.0       2262.69
                                  2019-02                  11.0       7667.67
                                  2019-03                  49.0      26881.05
                                  2019-04                  20.0      15699.49
                                  2019-05                  19.0      10007.80

Applying exogenous data

In [77]:
model_data.columns

Index(['CustomerContinent', 'ProductCategory', 'dateOfPurchase',
       'TotalQuantity', 'TotalRevenue', 'AvgPrice', 'MedPrice', 'AvgCost',
       'AvgDiscount'],
      dtype='object')

In [78]:
X= model_data[['AvgPrice', 'MedPrice', 'AvgCost',
       'AvgDiscount']]

In [79]:
forecasters = all_estimators(
    "forecaster", as_dataframe=True, return_tags=["scitype:y", "y_inner_mtype", "ignores-exogeneous-X"]
)

In [80]:
# forecasters

In [81]:
multi_forecasters = forecasters[forecasters["scitype:y"] != 'univariate']

In [82]:
multi_forecasters

,name,estimator,scitype:y,y_inner_mtype,ignores-exogeneous-X
7,ColumnEnsembleForecaster,<class 'sktime.forecasting.compose._column_ens...,both,"[pd.DataFrame, pd-multiindex, pd_multiindex_hier]",False
15,DynamicFactor,<class 'sktime.forecasting.dynamic_factor.Dyna...,multivariate,pd.DataFrame,False
16,EnsembleForecaster,<class 'sktime.forecasting.compose._ensemble.E...,both,"[pd.DataFrame, pd-multiindex, pd_multiindex_hier]",False
18,ForecastByLevel,<class 'sktime.forecasting.compose._grouped.Fo...,both,"[numpy3D, dask_series, np.ndarray, pd_multiind...",False
20,ForecastingGridSearchCV,<class 'sktime.forecasting.model_selection._tu...,both,pd.Series,True
21,ForecastingPipeline,<class 'sktime.forecasting.compose._pipeline.F...,both,"[pd.DataFrame, pd-multiindex, pd_multiindex_hier]",False
22,ForecastingRandomizedSearchCV,<class 'sktime.forecasting.model_selection._tu...,both,pd.Series,True
24,HierarchyEnsembleForecaster,<class 'sktime.forecasting.compose._hierarchy_...,both,"[pd.DataFrame, pd-multiindex, pd_multiindex_hier]",False
27,MultiplexForecaster,<class 'sktime.forecasting.compose._multiplexe...,both,"[numpy3D, dask_series, np.ndarray, pd_multiind...",False
31,Permute,<class 'sktime.forecasting.compose._pipeline.P...,both,"[numpy3D, dask_series, np.ndarray, pd_multiind...",False
32,PluginParamsForecaster,<class 'sktime.param_est.plugin.PluginParamsFo...,both,"[pd.DataFrame, pd.Series]",False
46,TransformedTargetForecaster,<class 'sktime.forecasting.compose._pipeline.T...,both,"[pd.DataFrame, pd-multiindex, pd_multiindex_hier]",False
51,VAR,<class 'sktime.forecasting.var.VAR'>,multivariate,pd.DataFrame,True
52,VARMAX,<class 'sktime.forecasting.varmax.VARMAX'>,multivariate,pd.DataFrame,False
53,VECM,<class 'sktime.forecasting.vecm.VECM'>,multivariate,pd.DataFrame,False

In [83]:
# forecasters = [("trend", PolynomialTrendForecaster()),("naive", NaiveForecaster())]
# model_seven  = EnsembleForecaster(forecasters= forecasters, weights= [4,10])
# model_seven = model_seven.fit(y = scaled_y, X = X.values, fh =fh)
# predict_seven = model_seven.predict()

using multivariate models as base forecasters for column Ensemble

In [84]:
from sktime.forecasting.var import VAR
from sktime.forecasting.varmax import VARMAX
from sktime.forecasting.dynamic_factor import DynamicFactor
from sktime.forecasting.model_selection._tune import ForecastingGridSearchCV
from sktime.forecasting.compose._pipeline import Permute
from sktime.forecasting.compose._pipeline import TransformedTargetForecaster
from sktime.forecasting.compose._hierarchy_ensemble import HierarchyEnsembleForecaster
import statsmodels

In [85]:
forecaster_set = [("var", VAR()), 
                  ("varmax", VARMAX())]

In [86]:

model_eight = EnsembleForecaster(forecasters= forecaster_set, weights= [4,10])
model_eight = model_eight.fit(y = scaled_y, fh =fh)
predict_eight = model_eight.predict()

c:\Users\HP\Downloads\mybooks\project\hierarchical-forecasting\.venv\lib\site-packages\statsmodels\base\model.py:604: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "
c:\Users\HP\Downloads\mybooks\project\hierarchical-forecasting\.venv\lib\site-packages\statsmodels\base\model.py:604: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

In [87]:
predict_eight.head()

                                                  TotalQuantity  TotalRevenue
CustomerContinent ProductCategory dateOfPurchase
Africa            Automotive      2019-01              0.512409      0.439037
                                  2019-02              0.443572      0.303534
                                  2019-03              0.463387      0.321716
                                  2019-04              0.460169      0.317503
                                  2019-05              0.460842      0.318249

In [88]:
predicted_index = predict_eight.index
predicted_columns = predict_eight.columns

inversed_prediction = scaler.inverse_transform(predict_eight)
inversed_prediction
predicted_data = pd.DataFrame(inversed_prediction, index = predicted_index, columns = predicted_columns)
predicted_data.head()

                                                  TotalQuantity  TotalRevenue
CustomerContinent ProductCategory dateOfPurchase
Africa            Automotive      2019-01             13.768926   6435.248388
                                  2019-02             13.134957   5772.451854
                                  2019-03             13.317444   5861.388702
                                  2019-04             13.287810   5840.783034
                                  2019-05             13.294009   5844.431664

In [89]:
score_eight = r2_score(y_validate, predicted_data)
score_eight

0.21635772638645562

In [90]:
from sktime.forecasting.compose._multiplexer import MultiplexForecaster

In [91]:
forecaster_set = [("var", VAR()), 
                  ("varmax", VARMAX())]

model_nine = MultiplexForecaster(forecasters= forecaster_set)
model_nine = model_nine.fit(y = scaled_y, fh =fh)
predict_nine = model_nine.predict()
predict_nine.head()

predicted_index = predict_nine.index
predicted_columns = predict_nine.columns

inversed_prediction = scaler.inverse_transform(predict_nine)
inversed_prediction
predicted_data = pd.DataFrame(inversed_prediction, index = predicted_index, columns = predicted_columns)
predicted_data.head()

score_nine = r2_score(y_validate, predicted_data)
score_nine

0.2157577423184316

In [92]:
from sktime.forecasting.model_selection import SlidingWindowSplitter
forecaster_set = [("var", VAR()), 
                  ("varmax", VARMAX())]
fh = ForecastingHorizon(
    pd.PeriodIndex(pd.date_range("2019-01", periods= 24, freq="M")), is_relative=False
)
horizon=pd.Series({"CustomerContinent": 24, "ProductCategory": 24})
cv = SlidingWindowSplitter(fh= horizon, window_length=24)

In [93]:
# param_grid = {
#     "forecasters__var__trend" : ["c", "ct", "ctt", "n"],
#     "forecasters__var__ic": ['aic', 'fpe', 'hqic', 'bic', None],
#     "forecasters__var__method":["ols","gls", "gmm","ml", "irf","mvd"],
#     "forecasters__varmax__trend": ["n", "c","t", "ct"],
#     "forecasters__varmax__method":["newton","nf","bfgs","lbfgs", "powell","cg","ncg","basinhopping"]
# }
# param_grid = [    {        "forecasters": ["var"],
#         "forecasters__trend": ["c", "ct", "ctt", "n"],
#         "forecasters__ic": ['aic', 'fpe', 'hqic', 'bic', None],
#         "forecaster__method": ["ols", "gls", "gmm", "ml", "irf", "mvd"],
#     },
#     {
#         "forecasters": ["varmax"],
#         "forecasters__trend": ["n", "c", "t", "ct"],
#         "forecasters__method": ["newton", "nf", "bfgs", "lbfgs", "powell", "cg", "ncg", "basinhopping"],
#     },
# ]


# model_ten = ForecastingGridSearchCV(forecaster = MultiplexForecaster(forecasters= forecaster_set),
#                                     cv =cv , param_grid = param_grid)

In [94]:
# param_grid

In [95]:
# from sktime.performance_metrics.forecasting import mean_absolute_percentage_error
# # def my_custom_scoring_function(y_true, y_pred):
# #     return r2_score(y_true, y_pred)


# model_ten = ForecastingGridSearchCV(
#     forecaster=MultiplexForecaster(forecasters=forecaster_set),
#     cv=cv,
#     param_grid=param_grid,
#     scoring= mean_absolute_percentage_error,
# )

# model_ten.fit(y=scaled_y)

In [96]:

# import numpy as np


# # Define forecast horizon
# # fh = ForecastingHorizon(y_validate.index, is_relative=False)

# # Define base forecasters
# forecaster1 = VAR()
# forecaster2 = VARMAX( trend='n', error_cov_type='unstructured')

# # Define hyperparameters grid
# param_grid = {'weights': [0.5, 0.6, 0.7]}

# # Define multiplex forecaster
# forecaster = EnsembleForecaster(forecasters= forecaster_set, weights=[4,10])

# # Define grid search object
# gscv = ForecastingGridSearchCV(forecaster, param_grid=param_grid, cv=cv,)

# # Fit and predict
# gscv.fit(scaled_y,  fh )
# y_pred = gscv.predict()

# # Print best parameters
# print("Best parameters: ", gscv.best_params_)

In [97]:
# model_ten = model_ten.fit(y = scaled_y)

In [98]:
# predict_ten = model_ten.predict()
# predict_ten.head()

# predicted_index = predict_ten.index
# predicted_columns = predict_ten.columns

# inversed_prediction = scaler.inverse_transform(predict_ten)
# inversed_prediction
# predicted_data = pd.DataFrame(inversed_prediction, index = predicted_index, columns = predicted_columns)
# predicted_data.head()

# score_ten = r2_score(y_validate, predicted_data)
# score_ten

In [99]:
VAR().get_params()

{'dates': None,
 'freq': None,
 'ic': None,
 'maxlags': None,
 'method': 'ols',
 'missing': 'none',
 'random_state': None,
 'trend': 'c',
 'verbose': False}

In [100]:
VARMAX().get_params().keys()

dict_keys(['callback', 'cov_kwds', 'cov_type', 'disp', 'dynamic', 'enforce_invertibility', 'enforce_stationarity', 'error_cov_type', 'flags', 'full_output', 'includes_fixed', 'information_set', 'low_memory', 'maxiter', 'measurement_error', 'method', 'optim_complex_step', 'optim_hessian', 'optim_score', 'order', 'return_params', 'signal_only', 'start_params', 'suppress_warnings', 'transformed', 'trend', 'trend_offset'])

In [101]:
NaiveForecaster().get_params().keys()

dict_keys(['sp', 'strategy', 'window_length'])