In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt  
import seaborn as sns

In [2]:
url = "https://raw.githubusercontent.com/ladyjossy77/ecommerce-data-analysis/master/data/clean-data.csv"
data = pd.read_csv(url, index_col = 0)

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15300 entries, 0 to 15299
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   CustomerGender       15300 non-null  object
 1   ProductName          15300 non-null  object
 2   ProductPrice         15300 non-null  float64
 3   CostOfGood           15300 non-null  float64
 4   ProductCategory      15300 non-null  object
 5   CustomerCountry      15300 non-null  object
 6   CustomerContinent    15300 non-null  object
 7   OrderTime            15300 non-null  object
 8   OrderDay             15300 non-null  int64
 9   OrderMonth           15300 non-null  object
 10  QuantitySold         15300 non-null  int64
 11  discountPerQuantity  15300 non-null  float64
 12  salePrice            15300 non-null  float64
 13  OrderYear            15300 non-null  int64
 14  ExpectedRevenue      15300 non-null  float64
 15  PricePerQuantity     15300 non-null  float64
 16  DiscountPercentage   15300 non-null  float64
 17  dateOfPurchase       15300 non-null  object
dtypes: float64(7), int64(3), object(8)
memory usage: 2.2+ MB

In [4]:
data["OrderYear"].unique()

array([2017, 2020, 2019, 2018, 2016], dtype=int64)

In [5]:
data.head()

,CustomerGender,ProductName,ProductPrice,CostOfGood,ProductCategory,CustomerCountry,CustomerContinent,OrderTime,OrderDay,OrderMonth,QuantitySold,discountPerQuantity,salePrice,OrderYear,ExpectedRevenue,PricePerQuantity,DiscountPercentage,dateOfPurchase
0,Female,Hat,713.0,249.55,Movies,Seychelles,Africa,13:43:00,1,February,3,0.09,1946.49,2017,463.45,648.83,0.01,1 February 2017
1,Female,Cheese,60.0,47.40,Health,Qatar,Asia,12:25:00,11,February,5,0.02,294.00,2020,12.60,58.80,0.03,11 February 2020
2,Male,Chips,310.0,145.70,Sports,Cameroon,Africa,20:14:00,25,September,2,0.03,601.40,2020,164.30,300.70,0.01,25 September 2020
3,Female,Chair,468.0,149.76,Beauty,Guadeloupe,North America,13:13:00,30,June,1,0.10,421.20,2020,318.24,421.20,0.02,30 June 2020
4,Male,Chicken,360.0,140.40,Health,Swaziland,Africa,22:50:00,28,September,6,0.08,1987.20,2020,219.60,331.20,0.02,28 September 2020

In [6]:
error_dates = data[(data["OrderDay"] == 30) & (data["OrderMonth"] == "February")]

In [7]:
error_dates.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36 entries, 10 to 14314
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   CustomerGender       36 non-null     object
 1   ProductName          36 non-null     object
 2   ProductPrice         36 non-null     float64
 3   CostOfGood           36 non-null     float64
 4   ProductCategory      36 non-null     object
 5   CustomerCountry      36 non-null     object
 6   CustomerContinent    36 non-null     object
 7   OrderTime            36 non-null     object
 8   OrderDay             36 non-null     int64
 9   OrderMonth           36 non-null     object
 10  QuantitySold         36 non-null     int64
 11  discountPerQuantity  36 non-null     float64
 12  salePrice            36 non-null     float64
 13  OrderYear            36 non-null     int64
 14  ExpectedRevenue      36 non-null     float64
 15  PricePerQuantity     36 non-null     float64
 16  DiscountPercentage   36 non-null     float64
 17  dateOfPurchase       36 non-null     object
dtypes: float64(7), int64(3), object(8)
memory usage: 5.3+ KB

In [8]:
36/15300

0.002352941176470588

In [9]:
data = data.drop(data[(data["OrderDay"] == 30) & (data["OrderMonth"] == "February")].index)
non_leap = [2017, 2018, 2019]
data = data.drop(data[(data["OrderDay"] == 29) & (data["OrderMonth"] == "February") & (data["OrderYear"].isin(non_leap))].index)

In [10]:
data["dateOfPurchase"] = pd.to_datetime(data["dateOfPurchase"])
data["dateOfPurchase"] = data["dateOfPurchase"].dt.to_period('M')

In [11]:
data.head()

,CustomerGender,ProductName,ProductPrice,CostOfGood,ProductCategory,CustomerCountry,CustomerContinent,OrderTime,OrderDay,OrderMonth,QuantitySold,discountPerQuantity,salePrice,OrderYear,ExpectedRevenue,PricePerQuantity,DiscountPercentage,dateOfPurchase
0,Female,Hat,713.0,249.55,Movies,Seychelles,Africa,13:43:00,1,February,3,0.09,1946.49,2017,463.45,648.83,0.01,2017-02
1,Female,Cheese,60.0,47.40,Health,Qatar,Asia,12:25:00,11,February,5,0.02,294.00,2020,12.60,58.80,0.03,2020-02
2,Male,Chips,310.0,145.70,Sports,Cameroon,Africa,20:14:00,25,September,2,0.03,601.40,2020,164.30,300.70,0.01,2020-09
3,Female,Chair,468.0,149.76,Beauty,Guadeloupe,North America,13:13:00,30,June,1,0.10,421.20,2020,318.24,421.20,0.02,2020-06
4,Male,Chicken,360.0,140.40,Health,Swaziland,Africa,22:50:00,28,September,6,0.08,1987.20,2020,219.60,331.20,0.02,2020-09

In [12]:
#selecting columns of interest
model_data = data[["CustomerContinent", "ProductCategory", "ProductName", "dateOfPurchase", "QuantitySold", "ProductPrice", "CostOfGood", "discountPerQuantity"]]

In [13]:
model_data["Revenue"] = model_data["ProductPrice"] * model_data["QuantitySold"] * (1-model_data["discountPerQuantity"])

C:\Users\HP\AppData\Local\Temp\ipykernel_8432\310536122.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  model_data["Revenue"] = model_data["ProductPrice"] * model_data["QuantitySold"] * (1-model_data["discountPerQuantity"])

In [14]:
model_data.head()

,CustomerContinent,ProductCategory,ProductName,dateOfPurchase,QuantitySold,ProductPrice,CostOfGood,discountPerQuantity,Revenue
0,Africa,Movies,Hat,2017-02,3,713.0,249.55,0.09,1946.49
1,Asia,Health,Cheese,2020-02,5,60.0,47.40,0.02,294.00
2,Africa,Sports,Chips,2020-09,2,310.0,145.70,0.03,601.40
3,North America,Beauty,Chair,2020-06,1,468.0,149.76,0.10,421.20
4,Africa,Health,Chicken,2020-09,6,360.0,140.40,0.08,1987.20

FEATURE ENGINEERING

In [15]:
model_data["dateOfPurchase"].max()

Period('2020-12', 'M')

In [17]:
model_data = model_data.groupby(["CustomerContinent", "ProductCategory", "dateOfPurchase"], as_index = False).agg(
                                TotalQuantity = pd.NamedAgg(column = "QuantitySold", aggfunc=sum),
                                TotalRevenue = pd.NamedAgg(column = "Revenue", aggfunc = sum),
                                AvgPrice = pd.NamedAgg(column = "ProductPrice", aggfunc = np.mean),
                                MedPrice = pd.NamedAgg(column="ProductPrice", aggfunc = np.median),
                                AvgCost = pd.NamedAgg(column = "CostOfGood", aggfunc = np.mean),
                                AvgDiscount = pd.NamedAgg(column = "discountPerQuantity", aggfunc = np.mean)
)

In [18]:
model_data.head()

,CustomerContinent,ProductCategory,dateOfPurchase,TotalQuantity,TotalRevenue,AvgPrice,MedPrice,AvgCost,AvgDiscount
0,Africa,Automotive,2016-01,1,961.27,991.00,991.0,307.2100,0.0300
1,Africa,Automotive,2016-02,22,6736.86,323.00,269.0,195.5600,0.0500
2,Africa,Automotive,2016-03,10,6633.20,721.00,721.0,591.2200,0.0800
3,Africa,Automotive,2016-04,23,10619.63,507.75,504.5,258.9825,0.0575
4,Africa,Automotive,2016-05,18,8175.08,479.25,437.5,238.2550,0.0650

In [19]:
model_data.tail()

,CustomerContinent,ProductCategory,dateOfPurchase,TotalQuantity,TotalRevenue,AvgPrice,MedPrice,AvgCost,AvgDiscount
6606,South America,Toys,2019-11,7,233.10,37.000000,37.0,7.77,0.10
6607,South America,Toys,2019-12,4,2227.20,580.000000,580.0,429.20,0.04
6608,South America,Toys,2020-02,4,2590.64,689.000000,689.0,351.39,0.06
6609,South America,Toys,2020-07,19,12641.16,581.333333,430.0,170.88,0.05
6610,South America,Toys,2020-08,4,190.12,49.000000,49.0,34.30,0.03

In [20]:
forecast_data = model_data[["CustomerContinent", "ProductCategory", "dateOfPurchase", "TotalQuantity", "TotalRevenue"]]

In [21]:
cat_combination = forecast_data[["CustomerContinent", "ProductCategory"]].drop_duplicates()

In [22]:
time = forecast_data[["dateOfPurchase"]].drop_duplicates()

In [24]:
time["dateOfPurchase"].nunique()

60

In [26]:
indexes = cat_combination.merge(time, how='cross')

In [27]:
indexes.head()

  CustomerContinent ProductCategory dateOfPurchase
0            Africa      Automotive        2016-01
1            Africa      Automotive        2016-02
2            Africa      Automotive        2016-03
3            Africa      Automotive        2016-04
4            Africa      Automotive        2016-05

In [28]:
new_df = indexes.merge(forecast_data, on = ["CustomerContinent", "ProductCategory", "dateOfPurchase"], how = 'left')

In [29]:
new_df.head()

,CustomerContinent,ProductCategory,dateOfPurchase,TotalQuantity,TotalRevenue
0,Africa,Automotive,2016-01,1.0,961.27
1,Africa,Automotive,2016-02,22.0,6736.86
2,Africa,Automotive,2016-03,10.0,6633.20
3,Africa,Automotive,2016-04,23.0,10619.63
4,Africa,Automotive,2016-05,18.0,8175.08

In [30]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9240 entries, 0 to 9239
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CustomerContinent  9240 non-null   object
 1   ProductCategory    9240 non-null   object
 2   dateOfPurchase     9240 non-null   period[M]
 3   TotalQuantity      6611 non-null   float64
 4   TotalRevenue       6611 non-null   float64
dtypes: float64(2), object(2), period[M](1)
memory usage: 433.1+ KB

In [32]:
new_df.to_csv("../data/forecast.csv")